.button-bar {
    &__item {
        margin-right: 3px;
        display: inline-block;
        margin-bottom: 3px;
        vertical-align: middle;
    }
}


.filter-block {
    margin-bottom: 15px;
    
    label {
        display: block;
        font-weight: 700;
    }
}


.toggle-filter-button {

    &--opened & {
        &__arrow {
            transform: rotate(180deg);
        }
    }

    &__arrow {
        display: inline-block;
        margin-left: 10px;
        transition: transform ease 0.35s;
    }
}