.container {
  margin: 50px;
}

.ant-row {
  margin-bottom: 25px;
}

label {
  display: inline-block;
  text-align: left;
  width: 125px;
  font-weight: bold;
  vertical-align: middle;
}

.ant-checkbox-group {
  display: flex;
  flex-direction: column;
}

.ant-checkbox-group label {
  margin-bottom: 5px;
  width: 200px;
}

.client-list button {
  margin-right: 10px;
  margin-bottom:10px;
  height: 37px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
}

.client-list button.column-list {
  height: 28px;
}

.page-box {
  border: 1px solid #e9e9e9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: inline-block;
  padding: 15px;
  width: 100%;
  position: relative;
  margin: 0 0 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
